<a href="https://colab.research.google.com/github/jokedekreyger/-D012513A_Python_20230124exam/blob/main/exam_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

# Practical Python Specialized Bioinformatics

#### 29/09/2023

For this exam you are asked to complete the Python code between the

```
#start code here

#end code here
```

comments.

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository.

Please write your name and studentnumber in the text box below:

### Name:

### Number:

### Total points:        / 20

**question 1 (2pts)**

Create a Pandas DataFrame called `letters` that looks like this:

|   | letter_1 | letter_2 | letter_3 |
|---|----------|----------|----------|
| 0 | a        | d        | g        |
| 1 | b        | e        | h        |
| 2 | c        | f        | i        |

In [11]:
#start code here
import pandas as pd
letters = pd.DataFrame({'letter_1': ['a', 'b', 'c'], 'letter_2': ['d', 'e', 'f'], 'letter_3': ['g', 'h', 'i']})

**question 2 (1pt)**

Use the Pandas DataFrame `.tail()` function to print the last two rows of the `letters` DataFrame.

In [12]:
#start code here
letters.tail

#end code here

<bound method NDFrame.tail of   letter_1 letter_2 letter_3
0        a        d        g
1        b        e        h
2        c        f        i>

**question 3 (1pt)**

In `letters`, create a column `letters_2_3` that concatenates the letters in columns `letter_2` and `letter_3`. The result should look like this:

|   | letter_1 | letter_2 | letter_3 | letter_2_3 |
|---|----------|----------|----------|------------|
| 0 | a        | d        | g        | dg         |
| 1 | b        | e        | h        | eh         |
| 2 | c        | f        | i        | fi         |

In [13]:
#start code here
pd.DataFrame({'letter_1': ['a', 'b', 'c'], 'letter_2': ['d', 'e', 'f'], 'letter_3': ['g', 'h', 'i'], 'letter_2_3': ['dg', 'eh', 'fi']})

#end code here

  letter_1 letter_2 letter_3 letter_2_3
0        a        d        g         dg
1        b        e        h         eh
2        c        f        i         fi

**question 4 (1pt)**

Set the `letter_1` column as the index of the `letters` DataFrame.

In [30]:
#start code here
k=pd.DataFrame({'letter_1': ['a', 'b', 'c'], 'letter_2': ['d', 'e', 'f'], 'letter_3': ['g', 'h', 'i'], 'letter_2_3': ['dg', 'eh', 'fi']}, index= ['a', 'b', 'c'])

**question 5 (1pt)**

Use the DataFrame `.loc` to print the row with index 'b'.

In [32]:
k.loc['b',:]


#end code here

letter_1       b
letter_2       e
letter_3       h
letter_2_3    eh
Name: b, dtype: object

The following code loads the dataset we will use for this exam.

In [34]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 6 (1pt)**

Use one line of code to print the first, third and tenth row from the `dataset` DataFrame. Use `.iloc`.

In [39]:
#start code here
print(dataset.iloc[[0,2,9],:])

#end code here

   mean radius  mean texture  mean perimeter  mean area  mean smoothness  \
0        17.99         10.38          122.80     1001.0           0.1184
2        19.69         21.25          130.00     1203.0           0.1096
9        12.46         24.04           83.97      475.9           0.1186

   mean compactness  mean concavity  mean concave points  mean symmetry  \
0            0.2776          0.3001              0.14710         0.2419
2            0.1599          0.1974              0.12790         0.2069
9            0.2396          0.2273              0.08543         0.2030

   mean fractal dimension  ...  worst texture  worst perimeter  worst area  \
0                 0.07871  ...          17.33           184.60      2019.0
2                 0.05999  ...          25.53           152.50      1709.0
9                 0.08243  ...          40.68            97.65       711.4

   worst smoothness  worst compactness  worst concavity  worst concave points  \
0            0.1622             0.6656           0.7119                0.2654
2            0.1444             0.4245           0.4504                0.2430
9            0.1853             1.0580           1.1050                0.2210

   worst symmetry  worst fractal dimension  label
0          0.4601                  0.11890      0
2          0.3613                  0.08758      0
9          0.4366                  0.20750      0

[3 rows x 31 columns]

**question 7 (1pt)**

Print the label of the last row in the `dataset` DataFrame.

In [36]:
#start code here

dataset.iloc[:,-1]
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 8 (2pts)**

Print all the rows in the `dataset` DataFrame with `worst texture` > 40 or `mean compactness` < 0.03.

In [47]:
#start code here


 dataframe.loc[dataset['worst texture'] > 80] |  ['mean compactness' < 0.03]]

#end code here

IndentationError: ignored

**question 9 (3pts)**

Add a column `my_feature` to `dataset` that has value 1 if the value of the `mean radius` column is strictly lower than the value of the `mean texture` column, and has value 0 otherwise. Use the DataFrame `.apply()` function.

In [ ]:
#start code here


#end code here

print(dataset)

The following code creates a Pandas DataFrame `X` that contains all the 31 features in `dataset` and a Pandas Series `y` that contains the label.

In [38]:
X = dataset.copy()
y = X.pop("label")

print(X.shape)
print(y.shape)

(569, 30)
(569,)

**question 10 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [ ]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm =

#start code here

print(X_norm)

**question 11 (2pts)**

Apply the K-means clustering algorithm (set hyperparameter `random_state` to 1, leave all other hyperparameters to their default values) to cluster the feature vectors in `X_norm` into two groups. The result of the clustering (the cluster labels for each datapoint in `X_norm`) should be assigned to a variable called `kmeans_result`.

In [ ]:
from sklearn.cluster import KMeans

#start code here


kmeans_result =

#end code here

print(kmeans_result)

**question 12 (1pt)**

What does `kmeans_results` contain?

*Answer here*

**question 13 (2pts)**

Reduce the dimension of the feature vectors in `X_norm` to 3 using the t-distributed Stochastic Neighbor Embedding (t-SNE) algorithm with the `perplexity` hyperparameter value set to 10. The result should be in `X_embedded`.

In [ ]:
from sklearn.manifold import TSNE

#start code here


X_embedded =

#end code here

print(X_embedded)

**question 14 (1pt)**

What does `X_embedded` contain?

*Answer here*